@import "tailwindcss";

@utility text-footer {
  @apply font-[Geist] text-sm leading-[20px] text-gray-500;
}

@utility text-title {
  @apply font-[Geist] font-medium text-[24px] leading-[140%] text-[#0F0F0F];
}

@utility text-subtitle {
  @apply font-[Geist] font-normal text-sm leading-normal text-[#6C6D71];
}

@utility text-body {
  @apply font-[Geist] text-sm leading-[normal] text-[#0F0F0F];
}

@utility text-header {
  @apply font-[Geist] font-medium text-[24px] leading-[1.4] text-[#0F0F0F];
}

@utility column-title {
  @apply font-['Geist'] font-medium text-[12px] leading-[1.4] tracking-[0%] text-[#0F0F0F];
}

@utility table-raw-text {
  @apply font-['Geist'] font-normal text-[14px] leading-[1.4] tracking-[0%] text-[#0F0F0F];
}
