@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Geist:wght@100..900&family=Josefin+Sans:wght@300&display=swap");
@import "tailwindcss";
@import "./styles/typography.css";
